
.jumbotron{
    background: url("img/met.png"); 
    /* background-color: #613613; */
    padding-top: 5rem;
}
#about{ 
    padding-top: 5rem
}
#galery{
    background: url("img/met.png"); 
    padding-bottom:10rem
}
#contact{
    background:url("img/met.png");
    padding-top: 5rem
}

